[pull]
	ff = only
[user]
	email = bryan@bry-guy.net
	user = bry-guy
	name = Bryan Smith
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	excludesfile = /Users/bry-guy/.config/git/ignore
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
