.zsh_arch
.gitconfig.identity.local
.gitconfig.identity.work
.ssh/config.identity

go/**/*
second-brain/**/*
.pi/agent/sessions/**/*
.npm/**/*
.local/share/**/*
.local/state/**/*
.local/opt/**/*
.kube/cache/**/*
.colima/**/*
.cache/**/*
.claude/todos/**/*
.claude/projects/**/*
.claude/statsig/**/*
.claude/debug/**/*
.claude.json.backup*
.claude/settings.local.json
.config/tmux/theme.conf


Library/**/*
Music/**/*
Movies/**/*
Downloads/**/*
Documents/**/*
Desktop/**/*
Pictures/**/*
Public/**/*
