[pull]
	ff = only
[user]
	email = bryan@bry-guy.net
	user = bry-guy
	name = Bryan Smith
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	forget = update-index --assume-unchanged
	remember = update-index --no-assume-unchanged
[core]
	excludesFile = ~/.local/.gitignore
[init]
	defaultBranch = main

[url "ssh://git@github.com/"]                                                   
    insteadOf = https://github.com/ 
