*

!setup.sh

!.gitconfig
!.gitignore

!.aliases
!.zshrc
!.inputrc
!.skhdrc
!.spacebarrc
!.yabairc
!.tmux.conf
!.imwheelrc

!.config/
!.config/nvim/
!.config/nvim/**/*
!.config/pop-shell/
!.config/pop-shell/**/*
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/**/*


!script/
!script/**/*
