*

!.gitconfig
!.gitignore

!.aliases
!.asdfrc
!.zprofile
!.tmux.conf
!.zshrc
!.osx
!.tool-versions

!.local/
!.local/.gitignore

!.config/
!.config/alacritty/
!.config/alacritty/**/*

!.config/nvim/
!.config/nvim/**/*

!.config/pop-shell/
!.config/pop-shell/**/*

!.config/keyd/
!.config/keyd/**/*

!.config/karabiner/
!.config/karabiner/complex_modifications/*
!.config/karabiner/karabiner.json

!.config/amethyst/
!.config/amethyst/*

!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/**/*
.config/systemd/user/homebrew*
.config/systemd/user/multi-user.target.wants

!script/
!script/**/*

!playbooks/
!playbooks/*
!playbooks/**/*

!.ssh/
!.ssh/**/*

!todo.md
